<form method="post" action="{{ path('peliculas_mirant_delete', {'id': peliculas_mirant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ peliculas_mirant.id) }}">
    <button class="btn">Delete</button>
</form>
