<script>
// function validarForm(sender)
// {
//   //obtengo mi formulario por ID
//    form = document.getElementById('miformulario');
//   //MUESTRO CONFIRMACION PARA HACER EL SUBMIT
//   confirm = confirm('desea actualizar sus datos?');
//   if(confirm == true)
//   { 
//     //hago el submit
//     form.submit();
//   }else{
//     //no se realiza el submit
//     alert('Los datos no han sido actualizados');
//     return false;
//   }
  
// }//end function validarForm
function validarForm(sender){

const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
 title: 'Estas seguro?',
 text: "Estas seguro de que quieres borrar este mensaje",
  icon: 'warning',
 showCancelButton: true,
  confirmButtonText: 'Sí, borrar!',
  cancelButtonText: 'No, cancelar!',
  reverseButtons: true
 }).then((result) => {
 if (result.value) {
   swalWithBootstrapButtons.fire(
     'Borrado!',
     'El mensaje ha sido borrado.',
     'success'
    )
            form = document.getElementById('miformulario');
       form.submit();
  } else if (
    /* Read more about handling dismissals below */
  result.dismiss === Swal.DismissReason.cancel
  ) {
  swalWithBootstrapButtons.fire(
      'Cancelado',
     'El mensaje no ha sido borrado',
      'error'
    )
  }
})

};
</script>
<form method="post" id="miformulario" action="{{ path('peliculas_mirant_delete', {'id': peliculas_mirant.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ peliculas_mirant.id) }}">
<button type="button" id="sidebarCollapse" onclick="validarForm();" style="margin-top: 12px;margin-left:10px;" class="btn btn-danger">
           <i class="fas fa-trash-alt"></i>
            <span>Eliminar</span>
            </button></a>
</form>


