<!DOCTYPE html>

<title>New PeliculasMirant</title>

{% block body %}
    <h1>Create new PeliculasMirant</h1>

    {{ include('peliculas_mirant/_form.html.twig') }}

    <a href="{{ path('peliculas_mirant_index') }}">back to list</a>
{% endblock %}
