<!DOCTYPE html>

<title>New PagContacto</title>

{% block body %}
    <h1>Create new PagContacto</h1>

    {{ include('pag_contacto/_form.html.twig') }}

    <a href="{{ path('pag_contacto_index') }}">back to list</a>
{% endblock %}
