
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/migrations/
/var/
/vendor/
/translations/
/tests/
/bin/
/config/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.env.test
.env
composer.lock
composer.json
symfony.lock
phpunit.xml.dist
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
