<!DOCTYPE html>

<title>New PonenteJornada</title>

{% block body %}
    <h1>Create new PonenteJornada</h1>

    {{ include('ponente_jornada/_form.html.twig') }}

    <a href="{{ path('ponente_jornada_index') }}">back to list</a>
{% endblock %}
