<!DOCTYPE html>

<title>New PagFormaParte</title>

{% block body %}
    <h1>Create new PagFormaParte</h1>

    {{ include('pag_forma_parte/_form.html.twig') }}

    <a href="{{ path('pag_forma_parte_index') }}">back to list</a>
{% endblock %}
