<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilosContacto.css">
    <link>
    <title>Contacto - Red Sanitaria Solidaria Comunidad Valenciana</title>
</head>
<body>
    <section class="container">
        <article class="row">
            <h1 class="col-12 text-center">Únete a la red</h1>
            <div class="pTexto text-justify">No importa si eres una asociación, una universidad, un colegio oficial 
            o una administración pública. Únete a la red sanitaria solidaria de tu provincia y ayudanos 
            a hacer desde la comunidad valenciana un mundo y una sociedad más sanos.</div>
        </article>
        <article>
            <div class="direcciones row text-center">
                <div class="col-4">
                    <img src="img/castellon.png" alt="Castellón" class="dirFoto"><br>
                    <h3>Castellón</h3><br>
                    <button class="btn">Ver más</button>
                </div>
                <div class="col-4">
                    <img src="img/valencia.png" alt="Valencia" class="dirFoto"><br>
                    <h3>Valencia</h3><br>
                    <button class="btn">Ver más</button>
                </div>
                <div class="col-4">
                    <img src="img/alicante.png" alt="Alicante" class="dirFoto"><br>
                    <h3>Alicante</h3><br>
                    <button class="btn">Ver más</button>
                </div>
            </div>
        </article>
        <article class="row">
            <h1 class="col-12 text-center">Formulario de contacto</h1>
            <form class="col-6 offset-3" action="">
                <label for="nombre">Tu nombre (requerido)</label><br>
                <input name="nombre" class="form-control" type="text"></input>
                <label for="email">Tu correo electrónico (requerido)</label><br>
                <input name="email" class="form-control" type="text"></input>
                <label for="rss">Selecciona la RSS de tu provincia</label><br>
                <select class="custom-select" name="rss">
                    <option value="rssc">RSS Castellón</option>
                    <option value="rssv">RSS Valencia</option>
                    <option value="rssa">RSS Alicante</option>
                </select><br>
                <label for="selRSS">¿A quién representas?</label>
                <select class="custom-select" id="selRSS">
                    <option value="administracionPublica">Admnistración Pública</option>
                    <option value="asociacion">Asociación</option>
                    <option value="ong_d">ONG/ONGD</option>
                    <option value="colegioProfesional">Colegio Profesional</option>
                    <option value="universidades">Universidades</option>
                    <option value="otra">Otra</option>
                </select>
                <label for="asunto">Asunto</label><br>
                <input name="asunto" class="form-control" type="text"></input>
                <label for="mensaje">Tu mensaje</label><br>
                <textarea name="mensaje" class="form-control" type="text" style="height:200px;resize:none;" cols="40" rows="20"></textarea><br>
                <button class="btn">Enviar</button>
            </form>
        </article>
        <article class="row">
            <div class="col-12 text-center">
                <h1>Modelo de adhesión a la RSS de tu provincia</h1>
                <a href="../wp-content/uploads/2018/10/MODELO-DOCUMENTO-ADHESIÓN-A-RSS.pdf"><button class="btn modelo">Ver modelo</button></a>
            </div>
    </section>
</body>
</html>