{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="css/estilosEntidades.css">
    <script src="js/scriptEntidades.js"></script>
{% endblock %}
{% block titulo %}Nuestra Propuesta{% endblock %}
{% block contenido %}
    <section class="container">
        <article>
            <div class="row">
                <h3 class="col-12 text-center"><b>Mapa de la Salud Global y Desarrollo Humano de la C.Valenciana</b></h3>
                <div class="text-justify" id="primerTexto">
                    <p>En el siguiente mapa podrás localizar las entidades que forman parte de las Redes Sanitarias Solidarias de las tres provincias de la Comunidad Valenciana. También podrás localizar (marcadores naranjas) otras entidades que no forman parte de las RSS, pero con las que compartimos objetivos y líneas de trabajo como la cooperación al desarrollo y la defensa del derecho a la salud.</p>
                </div>
            </div>
            <br>
        </article>
    </section>
    <section class="container-fluid">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1uKVDBlaFmrizerhTXUjNBX8mCj24FJPV" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div> 
    </section>
    <section class="container-fluid" style="background-color: #F6FBFF">
        <article id="direccion">
            <div class="row">
                <h3 class="col-12 text-center"><b>¿Quienes formamos las RSS?</b></h3>
            </div>
            <div class="text-justify" id="primerTexto">
                <p>Selecciona tu provincia en el mapa y conoce las entidades que forman parte de la Red Sanitaria Solidaria y las actividades , recursos y proyectos que llevan a cabo para mejorar la salud global.</p>
            </div>
            <div class="direcciones row text-center">
                <div class="col-xl-4">
                        <a href="#popup1"><img id="imagenPopUp" src="img/castellon.png" alt="Castellón" class="dirFoto"></a><br>
                        <h2><a id="desAcScroll" href="#popup1">Castellón</a></h2><br>
                </div>
                <div class="col-xl-4">
                    <a href="#popup2"><img id="imagenPopUp2" src="img/valencia.png" alt="Valencia" class="dirFoto"></a><br>
                    <h2><a id="desAcScroll2" href="#popup2">Valencia</a></h2><br>
                </div>
                <div class="col-xl-4">
                    <a href="#popup3"><img id="imagenPopUp3" src="img/alicante.png" alt="Alicante" class="dirFoto"></a><br>
                    <h2><a id="desAcScroll3" href="#popup3">Alicante</a></h2><br>
                </div>
            </div>
            <div id="popup1" class="overlay" style="z-index: 900;">
                <div id="popupBody">
                    <h2>Red Sanitaria Solidaria de Castellón</h2>
                    <a id="cerrar" href="#direccion">&times;</a>
                    <div style="width:100%;height:400px;overflow:auto;" class="popupContent">
                        <p><b>Administración pública:</b></p>
                        <img width="200" height="200" src="img/Entidades/Castellon/AdminPublica/ajuntament-onda-1.jpg" alt="ayuntamiento_castellon">
                        <img width="200" height="200" src="img/Entidades/Castellon/AdminPublica/ayuntamiento_castellon.jpg" alt="ayuntamiento_castellon">
                        <br>
                        <p><b>Colegios profesionales oficiales de sector sanitario:</b></p>
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/codecs-.jpg" alt="codecs">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/codinucova.jpg" alt="ayuntamiento_castellon">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/enfermeria_castellon-.jpg" alt="codinucova">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/farmnaceutics_castello-.jpg" alt="farmnaceutics_castello-">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/fisioterapeutas_cv-.jpg" alt="fisioterapeutas_cv-">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/medicos_cs-.jpg" alt="medicos_cs-">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/podologos_cv-.jpg" alt="podologos_cv-">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/psicologos_cv-.jpg" alt="psicologos_cv-">
                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/treball_social_cs-.jpg" alt="treball_social_cs-">
                        <br>
                        <p><b>Universidades y centros de formación:</b></p>
                        <img width="200" height="200" src="img/Entidades/Castellon/Universidades y centros de formación/CEU-.jpg" alt="CEU">
                        <img width="150" height="150" src="img/Entidades/Castellon/Universidades y centros de formación/coopsalus.jpeg" alt="coopsalus">
                        <img width="150" height="150" src="img/Entidades/Castellon/Universidades y centros de formación/nuevo-logo-de-la-uji-.jpg" alt="nuevo-logo-de-la-uji">
                        <br>
                        <p><b>Organización No Gubernamental para el Desarrollo (ONGD):</b></p>
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/el_alto-.jpg" alt="el_alto-">
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/el_mat-.jpg" alt="el_mat-">
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/farmamundi-.jpg" alt="farmamundi">
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/HCEM-.jpg" alt="HCEM-">
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/medicusmundi-.jpg" alt="medicusmundi-">
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/safane-.jpg" alt="safane-">
                        <img width="200" height="200" src="img/Entidades/Castellon/ONGD/youcanyole-.jpg" alt="youcanyole-">

                    </div>
                </div>
            </div>
            <div id="popup2" class="overlay" style="z-index: 900;">
                <div id="popupBody">
                    <h2>Red Sanitaria Solidaria de Valencia</h2>
                    <a id="cerrar2" href="#direccion">&times;</a>
                    <div style="width:100%;height:400px;overflow:auto;" class="popupContent">
                        <p><b>Administración pública:</b></p>
                        <img width="200" height="200" src="img/Entidades/Valencia/Administraciones publicas/diputacio_valencia-.jpg" alt="diputacio_valencia">
                        <img width="200" height="200" src="img/Entidades/Valencia/Administraciones publicas/valencia-.jpg" alt="valencia">
                        <br>
                        <p><b>Colegios profesionales oficiales de sector sanitario:</b></p>
                        <img width="200" height="200" src="img/Entidades/Valencia/Colegios Profesionales Oficiales del sector sanitario/codinucova.jpg" alt="codinucova">
                        <img width="200" height="200" src="img/Entidades/Valencia/Colegios Profesionales Oficiales del sector sanitario/enfermeria-valecnia-.jpg" alt="enfermeria-valencia">                        <img width="200" height="200" src="img/Entidades/Castellon/Colegios profesionales oficiales de sector sanitario/enfermeria_castellon-.jpg" alt="codinucova">
                        <img width="200" height="200" src="img/Entidades/Valencia/Colegios Profesionales Oficiales del sector sanitario/farmaceuticos_valencia-.jpg" alt="farmaceuticos_valencia">
                        <img width="200" height="200" src="img/Entidades/Valencia/Colegios Profesionales Oficiales del sector sanitario/medicos_valencia-.jpg" alt="medicos_valencia">
                        <img width="200" height="200" src="img/Entidades/Valencia/Colegios Profesionales Oficiales del sector sanitario/opticos.jpg" alt="opticos">
                        <img width="200" height="200" src="img/Entidades/Valencia/Colegios Profesionales Oficiales del sector sanitario/psicologos_cv-.jpg" alt="psicologos_cv">
                        <br>
                        <p><b>Universidades y centros de formación:</b></p>
                        <img width="200" height="200" src="img/Entidades/Valencia/Universidades/CEU-.jpg" alt="CEU">
                        <img width="200" height="200" src="img/Entidades/Valencia/Universidades/upv-1-.jpg" alt="upv-1">
                        <img width="200" height="200" src="img/Entidades/Valencia/Universidades/uv-.jpg" alt="uv">
                        <br>
                        <p><b>Organización No Gubernamental para el Desarrollo (ONGD):</b></p>
                        <img width="200" height="200" src="img/Entidades/Valencia/ONGD/acoec-.jpg" alt="acoec">
                        <img width="140" height="140" src="img/Entidades/Valencia/ONGD/alanna-.jpg" alt="alanna">
                        <img width="200" height="200" src="img/Entidades/Valencia/ONGD/farmamundi-.jpg" alt="farmamundi">
                        <img width="200" height="200" src="img/Entidades/Valencia/ONGD/medicusmundi-.jpg" alt="medicusmundi">
                        <img width="170" height="130" src="img/Entidades/Valencia/ONGD/odontologia-solidaria.jpg" alt="odontologia-solidaria">
                        <img width="200" height="200" src="img/Entidades/Valencia/ONGD/soepic-wpv.jpg" alt="soepic-wpv">
                    </div>
                </div>
            </div>
            <div id="popup3" class="overlay" style="z-index: 900;">
                <div id="popupBody">
                    <h2>Red Sanitaria Solidaria de Alicante</h2>
                    <a id="cerrar3" href="#direccion">&times;</a>
                    <div style="width:100%;height:400px;overflow:auto;" class="popupContent">
                        <p><b>Administración pública:</b></p>
                        <img width="200" height="200" src="img/Entidades/Alicante/Administracion publica/ayuntamiento_alicante-.jpg" alt="ayuntamiento_alicante"
                        <br>
                        <p><b>Colegios profesionales oficiales de sector sanitario:</b></p>
                        <img width="200" height="200" src="img/Entidades/Alicante/Colegios Profesionales Oficiales del sector sanitario/enfermeria_alicante4-.jpg" alt="enfermeria_alicante4-">
                        <img width="200" height="200" src="img/Entidades/Alicante/Colegios Profesionales Oficiales del sector sanitario/farmaceuticos_alicante-.jpg" alt="farmaceuticos_alicante">
                        <img width="200" height="200" src="img/Entidades/Alicante/Colegios Profesionales Oficiales del sector sanitario/fisioterapeutas_cv-.jpg" alt="fisioterapeutas_cv-">
                        <img width="200" height="200" src="img/Entidades/Alicante/Colegios Profesionales Oficiales del sector sanitario/medicos_alicante-.jpg" alt="medicos_alicante-">
                        <img width="200" height="200" src="img/Entidades/Alicante/Colegios Profesionales Oficiales del sector sanitario/opticos.jpg" alt="opticos">
                        <br>
                        <p><b>Universidades y centros de formación:</b></p>
                        <img width="200" height="200" src="img/Entidades/Alicante/Universidades/ua-.jpg" alt="ua">
                        <img width="200" height="200" src="img/Entidades/Valencia/Universidades/ccc.jpg" alt="ccc">
                        <br>
                        <p><b>Organización No Gubernamental para el Desarrollo (ONGD):</b></p>
                        <img width="200" height="200" src="img/Entidades/Alicante/ONGD/acci-alicante.jpg" alt="acci-alicante">
                        <img width="200" height="200" src="img/Entidades/Alicante/ONGD/coopenf-.jpg" alt="coopenf">
                        <img width="200" height="200" src="img/Entidades/Alicante/ONGD/fontilles-.jpg" alt="fontilles-">
                        <img width="200" height="200" src="img/Entidades/Alicante/ONGD/medicos_del_mundo-.jpg" alt="medicos_del_mundo">
                        <img width="200" height="200" src="img/Entidades/Alicante/ONGD/medicusmundi-.jpg" alt="medicusmundi">
                        <img width="200" height="200" src="img/Entidades/Alicante/ONGD/toubabs.jpg" alt="toubabs">
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}