{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="/css/estilosContacto.css">
{% endblock %}
{% block titulo %}Formulario Inscripcion Jornadas{% endblock %}
{% block contenido %}
    <section class="container">
        <!-- Formulario de inscripcion -->
        <article id="formulario" class="row text-secondary">
            <h1 class="col-12 text-center h1Form text-dark">Formulario de inscripción Jornadas</h1>
            <form class="form-group">

                <label for="nombre">Nombre (requerido)</label><br>
                <input name="nombre" class="form-control" type="text"></input>

                <label for="papellido">Primer apellido (requerido)</label><br>
                <input name="papellido" class="form-control" type="text"></input>

                <label for="sapellido">Segundo apellido (requerido)</label><br>
                <input name="sapellido" class="form-control" type="text"></input>

                <label for="dni">DNI (requerido)</label><br>
                <input name="dni" class="form-control" type="text"></input>

                <label for="telefono">Telefono (requerido)</label><br>
                <input name="telefono" class="form-control" type="text"></input>

                <label for="email">Email (requerido)</label><br>
                <input name="email" class="form-control" type="text"></input>

                <label for="profesion">Profesión (requerido)</label><br>
                <input name="profesion" class="form-control" type="text"></input>

                <label for="radios">¿Perteneces a alguna de las entidades que forma parte de la Red Sanitaria Solidaria de Alicante?  (requerido)</label><br>
                <input type="radio" id="rssSi" name="PertenecesRadio" value="rssSi">
                <label for="rssSi">Si</label><br>
                <input type="radio" id="rssNo" name="PertenecesRadio" value="rssNo">
                <label for="rssNo">No</label><br>

                <label for="selRSS">En caso afirmativo... ¿A cuál?</label>
                <select class="custom-select" id="selRSS">
                    <option value="ACOEC">ACOEC</option>
                    <option value="AyuntamientoDeValencia">Ayuntamiento de Valencia</option>
                    <option value="CODNCV">Colegio Oficial de Dietistas y Nutricionistas de la C.Valenciana</option>
                    <option value="COEV">Colegio Oficial de Enfermería de Valencia</option>
                    <option value="COMV">Colegio Oficial de Médicos de Valencia</option>
                    <option value="COFV">Colegio Oficial de Farmacéuticos de Valencia</option>
                    <option value="COOO">Colegio Oficial de Ópticos-Optometristas</option>
                    <option value="COP">Colegio Oficial de Psicología</option>
                    <option value="DiputaciónValencia">Diputación de Valencia</option>
                    <option value="Farmamundi">Farmamundi</option>
                    <option value="MedicusMundiMediterrània">Medicus Mundi Mediterrània</option>
                    <option value="UniversidadCardenalHerreraCEU">Universidad Cardenal Herrera CEU</option>
                    <option value="UniversidadValencia">Universidad de Valencia</option>
                    <option value="NoFormoParte">No formo parte de ninguna de estas entidades</option>
                </select>

                <label for="radios2">En caso de formar parte de alguna de las entidades anteriores, lo haces en calidad de</label><br>
                <input type="radio" id="tecnico" name="ocupacion" value="tecnico">
                <label for="tecnico">Técnico/a / Funcionario/a</label><br>
                <input type="radio" id="politico" name="ocupacion" value="politico">
                <label for="politico">Cargo político</label><br>
                <input type="radio" id="profesor" name="ocupacion" value="profesor">
                <label for="profesor">Profesor/a</label><br>
                <input type="radio" id="estudiante" name="ocupacion" value="estudiante">
                <label for="estudiante">Estudiante</label><br>
                <input type="radio" id="colegiado" name="ocupacion" value="colegiado">
                <label for="colegiado">Colegiado/a</label><br>
                <input type="radio" id="juntaDirectiva" name="ocupacion" value="juntaDirectiva">
                <label for="juntaDirectiva">Junta Directiva</label><br>
                <input type="radio" id="socio" name="ocupacion" value="socio">
                <label for="socio">Socio/a</label><br>
                <input type="radio" id="voluntario" name="ocupacion" value="voluntario">
                <label for="voluntario">Voluntario/a</label><br>
                <input type="radio" id="otros" name="ocupacion" value="otros">
                <label for="otros">Otros</label><br>

                <label for="radio3">¿Perteneces a alguna entidad que no forme parte de la Red Sanitaria Solidaria? (requerido)</label><br>
                <input type="radio" id="entidadRssSi" name="pertenecesRadio" value="entidadRssSi">
                <label for="entidadRssSi">Si</label><br>
                <input type="radio" id="entidadRssNo" name="pertenecesRadio" value="entidadRssNo">
                <label for="entidadRssNo">No</label><br>

                <label for="ProfesionSiNo">En caso de respuesta afirmativa a la pregunta anterior , ¿a qué entidad perteneces?</label><br>
                <input name="ProfesionSiNo" class="form-control" type="text"></input>

                <label for="radio4">¿Quieres recibir el certificado de asistencia al finalizar las jornadas? (requerido)</label><br>
                <input type="radio" id="recibirSi" name="recibirCertRadio" value="recibirSi">
                <label for="recibirSi">Si</label><br>
                <input type="radio" id="recibirNo" name="recibirCertRadio" value="recibirNo">
                <label for="recibirNo">No</label><br>
            </form>
        </article>
    </section>
{% endblock %}