{% extends "main/layout.html.twig" %}
{% block titulo %}Forma Parte{% endblock %}
{% block head %}
<link rel="stylesheet" href="./css/forma_parte.css">
{% endblock %}
{% block TituloCabecera %}{% for cabeza in formabbdd %}{{ cabeza.titCabecera }}{% endfor %}{% endblock %}
{% block contenido %}
<section class="container-fluid">
    <article class="row">
      <div class="col-md-12">
          <div class="text-center">
            <div class="body text-grey">
              <h1 class="col-12 text-center;" style="margin-top: 48px; margin-bottom: 31px;">Colabora</h1>
              <p class="col-10 offset-1">Colaborando formarás parte de un grupo de personas
                                   que luchamos para hacer realidad el derecho a la salud.
                                   Porque hoy no podemos permitir que deshagan todo lo que hemos conseguido,
                                   ni podemos permitir que en los países empobrecidos se imponga un modelo
                                   de sanidad basado en el libre mercado. Es vital que avancemos en la defensa,
                                   en todo el mundo, de un sistema de salud público, de calidad y al alcance de todas.
                                   Con cualquiera de estas formas de colaborar nos    ayudas ¡y todas las ayudas suman!</p>
            </div>
          </div>
      </div>
    </article>
    <article class="row mt-5">
      <div class="col-md col-xl-4">
          <div class="card" id="cards">
            <div class="card-body text-center text-grey">
              <i id="i" class="fa fa-address-book"></i>
              <h3 class="card-title">Representa a tu entidad dentro de la RSS de tu provincia.</h3>
              <p class="card-text text-justify">Ponte en contacto con los responsables de tu entidad y pregunta
                                   quien le representa en la RSS de tu provincia.
                                   Pregunta si puedes echarle un cable, y ayúdanos a montar
                                   las actividades de la RSS.</p>
            </div>
          </div>
      </div>

      <div class="col-md col-xl-4">
          <div class="card" id="cards">
            <div class="card-body text-center text-grey">
              <i id="i" class="fa fa-calendar"></i>
              <h3 class="card-title">Acude a las actividades que organizamos.</h3>
              <p class="card-text text-justify">La RSS es una iniciativa que persigue concienciar
                                   y formar al personal y estudiantado del sector sanitario
                                   en temas de salud global, derecho a la salud,
                                   cooperación internacional y Agenda 2030.
                                   Tu eres parte de ese objetivo, ayúdanos a conseguirlo.</p>
            </div>
          </div>
      </div>

      <div class="col-md col-xl-4">
          <div class="card" id="cards">
            <div class="card-body text-center text-grey">
              <i id="i" class="fa fa-handshake"></i>
              <h3 class="card-title">Propón a tu entidad formar parte de las RSS.</h3>
              <p class="card-text text-justify">Si consideras que la entidad de la que formas parte
                                   comparte los objetivos de la RSS y ésta no forma parte de la misma,
                                   proponles que den el primer paso. Poneros en contacto con nosotros y
                                   sumaros a la RSS de tu provincia.</p>
            </div>
          </div>
      </div>
    </article>
    <br>
</section>
<section>
    <article id="jumbotron" class="jumbotron d-flex align-items-center justify-content-center" style="background-image:url('img/mmc-2012-04427.jpg'); background-repeat: no-repeat; height: 600px; background-size: cover; background-color:
#00000069;
background-blend-mode: soft-light;">
      <h1 style="color:white;text-align: center;">Por una salud universal, pública y gratuita, basada en la atención primaria.</h1>
    </article>
  <br>
</section>
{% endblock %}
