{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="./css/estilosJornadas.css">
    <script src="./js/scriptJornadas.js"></script>
{% endblock %}
{% block titulo %}Jornadas Formativas{% endblock %}
{% block contenido %}
    <!-- Section -->
    <section class="container">
    <!-- Descripción de contacto -->
        <article style="margin-top:4%;" class="text-center">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <p class="text-dark">¿Has oído alguna vez hablar<br> de la Agenda 2030?</p>
            </div>
            <div style="border-left: solid 3px #183e7d; border-right: solid 3px #183e7d; width: 15px; padding:2% 0%;" class="col-4">
                <p class="text-dark font-weight-bold">¿Cómo contribuimos a la<br> Agenda 2030?</p>
            </div>
            <div style="padding:2% 1%;" class="col-4">
                <p class="text-dark">¿Conoces los Objetivos<br> de Desarrollo Sostenible?</p>
            </div>
        </div>
        <div class="text-justify Ag30">
        Seguramente te interesará saber que se trata de un compromiso adquirido por todos los países para 
        solucionar entre todas problemas como la  pobreza, la desigualdad, el cambio climático… 
        Y así hasta 17 objetivos con sus metas, indicadores… Y seguramente entenderás que esto tenemos que hacerlo 
        entre todas (personas, instituciones, empresas, administraciones públicas…) o nunca se podrán lograr los 
        Objetivos marcados por la Agenda de las NNUU. Así que esto te ha de llevar a pensar.
        </div>
        <div class="row d-flex align-items-center">
            <div style="padding:3% 0%;" class="col-4">
                <p class="text-dark">¿A qué nivel?</p>
            </div>
            <div style="border-left: solid 3px #183e7d; border-right: solid 3px #183e7d; width: 15px; padding:2% 0%;" class="col-4">
                <p class="text-dark font-weight-bold">¿Contribuye mi entidad a la<br> consecución de estos Objetivos?</p>
            </div>
            <div style="padding:2% 0%;" class="col-4">
                <p class="text-dark">¿Podemos hacer algo más?</p>
            </div>
        </div>
        <div class="text-justify Ag30">
        Para responder a estas y otras cuestiones te invitamos al taller participativo que organizan 
        las tres Redes Sanitarias Solidarias de la Comunitat Valenciana. Apúntate a través del siguiente 
        cuestionario y conoce cómo contribuimos a la Agenda 2030, y qué vamos a hacer para ayudar a las entidades 
        sanitarias valencianas a sumar cada día más por conseguir un mundo mejor.
        </div>
        <a href="https://www.encuestafacil.com/RespWeb/Qn.aspx?EID=2563232"><button class="btn boton">Formulario de Inscripción</button></a>
        <h1><a href="https://carlosgomezgil.com/" target="_blank" class="linkh1">El ponente: Dr.Carlos Gomez Gil</a></h1><br>
        <img src="img/jornadas/carlos-gomez-gil-150x150.jpg" class="imagen">
        <div class="text-justify Ag30">Para estas jornadas contamos con la participación del Dr. En sociología de la Universidad de Alicante, Dr. Carlos Gomez Gil. 
        Para conocer su extensa experiencia os recomendamos acudir a su blog <a href="https://carlosgomezgil.com/">aquí</a>. 
        El Dr. Gomez Gil estará con nosotros los siguietes días en los que se realizará el taller:</div>
        <ul class="text-left">    
            <li>Valencia: 24 de septiembre, 18:00 horas en el Colegio Oficial de Ópticos-Optometristas de Valencia.</li>
            <li>Alicante: 25 de septiembre, 18:00 horas en la Sede Universitaria Ciudad de Alicante.</li>
            <li>Castellón: 26 de septiembre, 18:00 horas en el Menador Espai Cultural de Castelló.</li>
        </ul>
        <p>Compartimos con vosotras los carteles de las tres ciudades, y esperamos contar con vuestra participación.</p>
        <div class="row">
            <img class="col-md-4 col-sm-12 carteles" id="myImg" src="img/jornadas/ODS-Castellon.jpg"><br>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            <img class="col-md-4 col-sm-12 carteles" id="myImg" src="img/jornadas/ODS-Valencia.jpg"><br>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img02">
                    <div id="caption"></div>
                </div>
            <img class="col-md-4 col-sm-12 carteles" id="myImg" src="img/jornadas/ODS-Alicante.jpg"><br>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img03">
                    <div id="caption"></div>
                </div>
        </div>
        </article>
    </section>
{% endblock %}