<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilosMirant.css">
</head>

<body>
    <section class="container">
        <article class="row">
            <h1 class="col text-center" id="tituloInicial">II EDICIÓN</h1>
        </article>
        <div class="row">
            <div class="col-xl-6 text-center">
                <h1>Nuestra Empresa</h1>
            </div>
            <div class="col-xl-7">
                <p>
                    Mirant sale del juego con la contracción de las palabras Mostra ItineRANT. Pero también
                    significa mirando en valenciano. La primera de las acepciones del verbo mirar se refiere a
                    “Dirigir la vista hacia algo y fijar la atención en ello”. Eso es lo que esperamos conseguir con
                    esta Mostra de cine, que la gente dirija la vista y fije la atención hacia los problemas que se
                    están dando en la actualidad en todo el planeta sobre la salud global, desde enfoques de género,
                    medioambiente, derechos humanos… y entre todas, debatamos y reflexionemos de forma colectiva
                    para ver cuál es nuestro papel, y cómo podemos contribuir a lograr un mundo más sano, y más
                    justo. Este año, el lema elegido por las más de 40 entidades que formamos las RSS, ha sido
                    «Salud y Mujer, necesidades y desafios». Si te gusta la idea, selecciona tu provincia, infórmate
                    sobre las películas, reserva tu/s entrada/s… y guarda la fecha en tu agenda para asistir a la II
                    Mostra de Cinema Itinerant de Cinema y Salut Global de la Comunitat Valenciana. ¡Te esperamos en
                    Mirant!
                </p>
            </div>

            <div class="col-xl-5">
                <img id="img-nosotros" width="80%" src="img/Carteles_mirant/Cartel-IMP_page-0001.jpg">
            </div>
        </div>
    </section>
</body>

</html>