{% extends "main/layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="css/estilosMirant.css">
<script src="js/sweetalert2.all.min.js"></script>
<script src="js/sweetalert2.min.js"></script>
<link rel="css/stylesheet" href="sweetalert2.min.css">
{% endblock %}
{% block titulo %}Mirant{% endblock %}
{% block contenido %}
	<section class="container">
		<article class="row">
			<h1 class="col text-center" id="tituloInicial">II EDICIÓN</h1>
		</article>
		<div class="row" id="contenido-mirant">
			<div class="col-xl-6 text-center">
				<h1 id="titulo-mirant">"Salud y Mujer, Necesidades y Desafios"</h1>
			</div>
			<div class="col-xl-7">
				<p id="texto-mirant">
					Mirant sale del juego con la contracción de las palabras Mostra ItineRANT. Pero también
					significa mirando en valenciano. La primera de las acepciones del verbo mirar se refiere a
					“Dirigir la vista hacia algo y fijar la atención en ello”. Eso es lo que esperamos conseguir con
					esta Mostra de cine, que la gente dirija la vista y fije la atención hacia los problemas que se
					están dando en la actualidad en todo el planeta sobre la salud global, desde enfoques de género,
					medioambiente, derechos humanos… y entre todas, debatamos y reflexionemos de forma colectiva
					para ver cuál es nuestro papel, y cómo podemos contribuir a lograr un mundo más sano, y más
					justo. Este año, el lema elegido por las más de 40 entidades que formamos las RSS, ha sido
					«Salud y Mujer, necesidades y desafios». Si te gusta la idea, selecciona tu provincia, infórmate
					sobre las películas, reserva tu/s entrada/s… y guarda la fecha en tu agenda para asistir a la II
					Mostra de Cinema Itinerant de Cinema y Salut Global de la Comunitat Valenciana. ¡Te esperamos en
					Mirant!
				</p>
			</div>

			<div class="col-xl-5 text-center">
				<img id="CartelMirant" width="80%" src="img/Carteles_mirant/Cartel-IMP_page-0001.jpg">
			</div>
		</div>
		</section>
		<section>
		<iframe width="100%" height="500" src="https://www.youtube.com/embed/755APbFY-Ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<article class="jumbotron">
			<div class="row" style="margin-top: -24px;">
				<h1 class="col text-center" id="tituloInicial">Las Sedes ¡Inscríbite!</h1>
			</div>
            <div class="direcciones row text-center">
                <div class="col-xl-4">
                    <img id="imagenPopUp" src="img/castellon.png" alt="Castellón" class="dirFoto"><br>
                    <h3>Castellón</h3><br>
					<button id="Castellon" class="btn btn-info">Inscribirse</button>
                </div>
                <div class="col-xl-4">
                    <img id="imagenPopUp" src="img/valencia.png" alt="Valencia" class="dirFoto"><br>
                    <h3>Valencia</h3><br>
					<button id="Valencia" class="btn btn-info">Inscribirse</button>
                </div>
                <div class="col-xl-4">
                    <img id="imagenPopUp" src="img/alicante.png" alt="Alicante" class="dirFoto"><br>
                    <h3>Alicante</h3><br>
						<button id="Alicante" class="btn btn-info">Inscribirse</button>
                </div>
            </div>
		</article>
		<div id="peliculas" >
		<article class="row" style="margin-top: 24px;">
			<h1 class="col text-center" id="titulos-peliculas">Peliculas</h1>
		</article>
		<article class="container" id="botones-mirant">
			<div class="Galeria-pelis row text-center">
				<div class="col-xl-4">
					<div class="thumb">
						<a class="lightbox" href="img/Carteles_mirant/Comandante-arian-2018.jpg" title="Milk Splashes"><img src="img/Carteles_mirant/Comandante-arian-2018.jpg" class="pelicula" alt=""/></a>
					</div>
					<h3 class="entry-title" id="titulos-peliculas">Comandante Arian</h3>
					<a href="#" class="btn btn-primary mb-5 btn-lg active" style="margin-left: 10px;" role="button" aria-pressed="true">Ver trailer</a>
				</div>
				<div class="col-xl-4">
					<div class="thumb">
						<a class="lightbox" href="img/Carteles_mirant/Comandante-arian-2018.jpg" title="Milk Splashes"><img src="img/Carteles_mirant/Comandante-arian-2018.jpg" class="pelicula" alt=""/></a>
					</div>
					<h3 class="entry-title" id="titulos-peliculas">La Manzana de Eva</h3>
					<a href="#" class="btn btn-primary mb-5 btn-lg active" style="margin-left: 10px;" role="button" aria-pressed="true">Ver trailer</a>
				</div>
				<div class="col-xl-4">
					<div class="thumb">
						<a class="lightbox" href="img/Carteles_mirant/Comandante-arian-2018.jpg" title="Milk Splashes"><img src="img/Carteles_mirant/Comandante-arian-2018.jpg" class="pelicula" alt=""/></a>
					</div>
					<h3 class="entry-title" id="titulos-peliculas">Woman</h3>
					<a href="#" class="btn btn-primary mb-5 btn-lg active" style="margin-left: 10px;" role="button" aria-pressed="true">Ver trailer</a>
					</div>
				</div>
			</div>
		</article>
		</div>

	</section>
	<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="img/iconos_rrss/instagram.png" width="32" height="32">
            <p><a href="https://www.instagram.com/red.sanitaria.solidaria/" target="_blank">Siguenos en<br>Instagram</a></p>
        </li>
        <li>
            <img src="img/iconos_rrss/facebook.png" width="32" height="32">
            <p><a href="https://www.facebook.com/Red-Sanitaria-Solidaria-1590026707810592/" target="_blank">Siguenos en <br>Facebook</a></p>
        </li>
        <li>
            <img src="img/iconos_rrss/youtube.png" width="32" height="32">
            <p><a href="https://www.youtube.com/channel/UC8R-NvlhdzXxySXABd7FFGQ" target="_blank">Siguenos en <br>YouYube</a></p>
        </li>
        <li>
            <img src="img/iconos_rrss/twitter.png" width="32" height="32">
            <p><a href="https://twitter.com/RedSanitaria" target="_blank">Siguenos en <br>Twitter</a></p>
        </li>
    </ul>
</div>
	<script>
	$("#Castellon").click(function(){
Swal.fire({
  title: 'Estás seguro?',
  text: "Vas a ser redireccionado a la página de reserva de entradas gratuitas de Castellón",
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Sí, quiero visitar la página!'
}).then((result) => {
  if (result.value) {
location.href ="https://redsanitariasolidaria.org/mostra-de-cinema-castellon-ii/";
  }
})

});
$("#Valencia").click(function(){
Swal.fire({
  title: 'Estás seguro?',
  text: "Vas a ser redireccionado a la página de reserva de entradas gratuitas de Valencia",
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Sí, quiero visitar la página!'
}).then((result) => {
  if (result.value) {
location.href ="https://redsanitariasolidaria.org/mostra-de-cinema-valencia-ii/";
  }
})

});
$("#Alicante").click(function(){
Swal.fire({
  title: 'Estás seguro?',
  text: "Vas a ser redireccionado a la página de reserva de entradas gratuitas de Alicante",
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Sí, quiero visitar la página!'
}).then((result) => {
  if (result.value) {
location.href ="https://redsanitariasolidaria.org/mostra-de-cinema-alicante-ii/";
  }
})

});</script>
{% endblock %}
