/* Estilos nuestra propuesta */
h1, h3{
	margin-top: 6%;
}
strong{
    color: #3953a0;
}

#botonConocenos{
	margin-left: -100%;
}

#img-header{
	background-image: url(.././img/head\ fotos/fotoHeadNuestraPropuesta.jpg) !important;
	background-size: cover;
}

div#primerTexto{
    margin-top: 2%;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 18px;
}
article#desplegables{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 11%;
    font-size: 18px;
}
article#carousel1{
    margin-bottom: 10%;
}

/* Estilos y funcionamiento de los desplegables */

#menu * { list-style:none;}
#menu li{ line-height: 150%;}
#menu li a{color:#222; text-decoration:none;}
#menu li a:before{ content:"\025b8"; color:#ddd;}
#menu input[name="list"] {position: absolute; left: -1000em;}
#menu label:before{ content:"\025b8"; margin-right:4px;}
#menu input:checked ~ label:before{ content:"\025be";}
#menu label{ width: 100%; cursor: pointer; }
#menu .interior{display: none;}
#menu input:checked ~ ul{display:block;}
#menu ul.interior{margin-right: 5%;}

/* Estilos y funcionamiento del carousel */

  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 7));
	}
  }
  .slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 130px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
  }
  .slider::before, .slider::after {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
  }
  .slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
  }
  .slider::before {
	left: 0;
	top: 0;
  }
  .slider .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
  }
  .slider .slide {
	height: 100px;
	width: 250px;
  }
  
	header nav div ul li ul:hover{
    transition: ease-in 3s ease;
	}

	.collapsible {
		background-color: #777;
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}
	
	.active, .collapsible:hover {
		background-color: #555;
	}
	
	.content {
		padding: 0 18px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		background-color: #f1f1f1;
	}