
h1{
    font-family: Arial;
    margin-top: 3%;
    color: #204661;
}
#CartelMirant{margin-top: -85px;}
#contenido-mirant{margin-top: 50px;}
#texto-mirant{    margin-top: 0;
    margin-bottom: 9rem;
    font-family: Verdana;
    text-align: justify;
    font-size: 18px;
}
#titulo-mirant{color: #341a51;
                font-weight: bold;}
#botones-mirant{margin-top: 75px;}
.jumbotron{margin-top: -9px;
    margin-bottom: -2rem !important;
}
.peliculas{list-style: none;
   }
    .project-list{ display: flex;}
.pelicula{    width: 294px;
    height: 230px;}
.dirFoto{width: 42%;
margin: 14% 0%;}
#peliculas{background-image: url(.././img/pelis_mirant.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:
    #0000008a;
    background-blend-mode: soft-light;}
 #titulos-peliculas{color: white;}   

 /**/
 .sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:274px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#ffffff82;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}