h1{
    font-family: Arial;
    margin-top: 3%;
    color: rgba(29,68,81,0.97);
}
#CartelMirant{margin-top: -85px;}
#contenido-mirant{margin-top: 50px;}
#texto-mirant{    margin-top: 0;
    margin-bottom: 9rem;
    font-family: Verdana;
    text-align: justify;
    font-size: 18px;
}
#titulo-mirant{color: #341a51;
                font-weight: bold;}
#botones-mirant{margin-top: 75px;}
.jumbotron{margin-top: -9px;
    height: 500px !important;
}