/*-----Header-----*/

    li>a{color: #183e7d !important;
        font-weight: bold;
        font-size: 15px;
        margin-left: 1px;
    }
.navbar{padding: 0px !important;}


li{font-size: 21px;
    font-family: verdana;
    margin-right: 25px;}
ul{margin-right: 37px;}
br+h1{color:white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 136px !important;
    font-size: 41px !important;}
/*-----Fin-Header-----*/
.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  }

