<form method="post"  action="{{ path('contactar_delete', {'id': contactar.id}) }}" onsubmit="">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contactar.id) }}">

</form>