{% extends "adminpage/layout.html.twig" %}

    {% block div %}
    
<title>Admin index</title>
    <h1>Admin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.usuario }}</td>
                <td>
               <button class="btn" id="Mensaje"><i class="fas fa-minus-circle" style="font-size:20px; margin-top:10px"></i></button>
                    {# <a href="{{ path('admin_edit', {'id': admin.id}) }}">edit</a> #}
                </td>
            </tr>
                    <script>
$("#Mensaje").click(function(){
  swal.fire({
  title: "<i>Title</i>", 
  html: '<form name="admin" method="post">'+
    '<div id="admin"><div><label for="admin_password" class="required">Password</label><input type="text" id="admin_password" name="admin[password]" required="required" maxlength="255" /></div><input type="hidden" id="admin__token" name="admin[_token]" value="rf2niVT-0IrB8_088E13UKspQZuOp0hCYdxtEm_pJSU" /></div>'+
    '<button class="btn">Update</button>'+
'</form>',
  confirmButtonText: "V <u>redu</u>", 
}).then((result) => {
  if (result.value) {
    swalWithBootstrapButtons.fire(
      'Borrado!',
      'El mensaje ha sido borrado.',
      'success'
    )
          document.getElementById('swal-input1').value,
      document.getElementById('swal-input2').value
    
  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelado',
      'El mensaje no ha sido borrado',
      'error'
    )
  }
})

});
</script>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_new') }}">Create new</a>
{% endblock %}



{# const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
  title: 'Estas seguro?',
  text: "Estas seguro de que quieres borrar este mensaje",
  icon: 'warning',
  
  showCancelButton: true,
  confirmButtonText: 'Guardar!',
  cancelButtonText: 'No guradar!',
  reverseButtons: true,


}). #}