<form method="post" action="{{ path('pag_entidades_delete', {'id': pag_entidade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pag_entidade.id) }}">
    <button class="btn">Delete</button>
</form>
