<!DOCTYPE html>

<title>New PagEntidades</title>

{% block body %}
    <h1>Create new PagEntidades</h1>

    {{ include('pag_entidades/_form.html.twig') }}

    <a href="{{ path('pag_entidades_index') }}">back to list</a>
{% endblock %}
