<!DOCTYPE html>

<title>Edit Entidades</title>

{% block body %}
    <h1>Edit Entidades</h1>

    {{ include('entidades/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entidades_index') }}">back to list</a>

    {{ include('entidades/_delete_form.html.twig') }}
{% endblock %}
