{% block body %}

    {{ include('pag_jornadas/_form.html.twig', {'button_label': 'Update'}) }}


 <a href="{{ path('pag_jornadas_index') }}" style="margin-left:10px" ><button type="button" id="sidebarCollapse" class="btn btn-info">
           <i class="fas fa-angle-left"></i>
            <span>Volver</span>
            </button></a>
<form method="post" action="{{ path('pag_jornadas_delete', {'id': pag_jornada.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pag_jornada.id) }}">
    <button type="button" id="sidebarCollapse" onclick="validarForm();" style="margin-top: 12px;margin-left:10px;" class="btn btn-danger">
           <i class="fas fa-trash-alt"></i>
            <span>Eliminar</span>
            </button></a>
</form>
<script>
function validarForm(sender){

const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
})

swalWithBootstrapButtons.fire({
 title: 'Estas seguro?',
 text: "Estas seguro de que quieres borrar este mensaje",
  icon: 'warning',
 showCancelButton: true,
  confirmButtonText: 'Sí, borrar!',
  cancelButtonText: 'No, cancelar!',
  reverseButtons: true
 }).then((result) => {
 if (result.value) {
   swalWithBootstrapButtons.fire(
     'Borrado!',
     'El mensaje ha sido borrado.',
     'success'
    )
            form = document.getElementById('miformulario');
       form.submit();
  } else if (
    /* Read more about handling dismissals below */
  result.dismiss === Swal.DismissReason.cancel
  ) {
  swalWithBootstrapButtons.fire(
      'Cancelado',
     'El mensaje no ha sido borrado',
      'error'
    )
  }
})

};
</script>
{% endblock %}
