<!DOCTYPE html>

<title>New PagJornadas</title>

{% block body %}
    <h1>Create new PagJornadas</h1>

    {{ include('pag_jornadas/_form.html.twig') }}

    <a href="{{ path('pag_jornadas_index') }}">back to list</a>
{% endblock %}
